html, body {
    font-family: Arial, Helvetica, sans-serif;
}

section.question,
section.answers-form,
section.answers {
    width: 100%;
    border-top: 1px  solid grey;
    margin: 0;
    padding: 0;
}

.content-box {
    width: 800px;
    margin: auto;
    padding: 1em;
}

section.question .content-box {
    display: flex;
    flex-direction: row;
}
section.question  .content-box > div {
    flex-grow: 1;
    align-self: stretch;
}
section.question .question-text{
    padding: 0 1em;
}

section.answers-form label {
    display: inline-block;
    width: 100px;
    margin: 0 20px 0 0; 
}

section.answers article{
    padding: 1em;
    border:1px solid grey;
}

section.answers .indented{
    margin-left: 1em;
}